<a routerLink = "/home">Home</a>&nbsp;
<a routerLink = "/about-us">About us</a>&nbsp;
<a routerLink = "/product-list">Products</a>&nbsp;
<a routerLink = "/login-form">Login</a>&nbsp;
<a routerLink = "/registeration-form">Register</a>&nbsp;
<a routerLink = "/quiz">Quiz</a>&nbsp;
<a routerLink = "/add-question">Add Questions</a>

<!--
<h2>Root component!!!</h2>
{{title}} interpolation
{{name}}
Property binding
<img [src]="imgSrc">
<button (click) ="updateName()" [disabled]="isDisabled">Click me</button>
<app-home></app-home>
-->


<router-outlet></router-outlet>

<!--<p>after router-outlet</p>-->

